# Ignoring solutions
basic/solution
babynames/solution
copyspecial/solution
logpuzzle/solution

# Ignoring example files
basic/*.txt
babynames/*.html
copyspecial/*.txt
copyspecial/*.jpg
logpuzzle/*.google.com
